include includes/mixin
doctype
html(lang="en")
    head
        include includes/head
    body

        include includes/header
        section.offset
            .slider.owl-carousel.owl-theme
                .slider__item(style="background: url(images/jpg/slide.jpg) center / cover")
                    .slider__inner
                        h3.slider__title Unique and Modern Design
                        .slider__subtitle Portfolio PSD Template
                        .slider__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                        a.btn(href="#") Get Started
                .slider__item(style="background: url(images/jpg/slide.jpg) center / cover")
                    .slider__inner
                        h3.slider__title Unique and Modern Design
                        .slider__subtitle Portfolio PSD Template
                        .slider__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                        a.btn(href="#") Get Started
                .slider__item(style="background: url(images/jpg/slide.jpg) center / cover")
                    .slider__inner
                        h3.slider__title Unique and Modern Design
                        .slider__subtitle Portfolio PSD Template
                        .slider__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                        a.btn(href="#") Get Started
        section#about-us.section
            .container
                .row
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('pencil', 'ibox__icon')
                            h4.ibox__title Web & App Design
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('dev', 'ibox__icon')
                            h4.ibox__title Development
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('settings', 'ibox__icon')
                            h4.ibox__title Customization
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .ibox
                            +icon('folder', 'ibox__icon')
                            h4.ibox__title Marketing
                            .ibox__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
        section.section.section_selected
            .container
                h1.section__title Waxom is Realization of your Ideas.
                .section__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                picture
                    source(type="image/webp" srcset="images/webp/browser-center.webp")
                    source(type="image/png" srcset="images/jpg/browser-center.png")
                    img.image-block(src="images/jpg/browser-center.png" alt="Waxom is Realization of your Ideas")
        section.gradient
            .container
                .row
                    .col-lg-9.col-md-9.col-sm-8.col-xs-12
                        .info
                            h2.info__title
                                span Waxom 
                                | Multipurpose WordPress Theme
                            .info__desc Don't Forget to Rate the Template. Thanks so much!
                    .col-lg-3.col-md-3.col-sm-4.col-xs-12.justify-center
                        a.btn(href="#") Purchase Now
        section#project.section
            .container.flex
                h2.section__title Our Latest Projects
                .section__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                .button-group
                    button(data-filter='*').is-checked All
                    button(data-filter='.design') Web Design
                    button(data-filter='.app') Mobile App
                    button(data-filter='.illustration') Illustration
                    button(data-filter='.photo') Photography
                .grid
                    .grid__item.photo.app
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project1.webp")
                                    source(type="image/jpg" srcset="images/jpg/project1.jpg")
                                    img(src="images/jpg/project1.jpg", alt="Claritas Etiam Processus")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Claritas Etiam Processus
                                .project__desc Photography, Nature
                    .grid__item.app.illustration
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project2.webp")
                                    source(type="image/jpg" srcset="images/jpg/project2.jpg")
                                    img(src="images/jpg/project2.jpg", alt="Quam Nutamus Farum")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Quam Nutamus Farum
                                .project__desc Graphic Design, Mock-Up
                    .grid__item.photo
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project3.webp")
                                    source(type="image/jpg" srcset="images/jpg/project3.jpg")
                                    img(src="images/jpg/project3.jpg", alt="Usus Legentis Videntur")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Usus Legentis Videntur
                                .project__desc Photography, Holiday
                    .grid__item.photo.design
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project4.webp")
                                    source(type="image/jpg" srcset="images/jpg/project4.jpg")
                                    img(src="images/jpg/project4.jpg", alt="Claritas Etiam Processus")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Claritas Etiam Processus
                                .project__desc Photography, Nature
                    .grid__item.app.illustration
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project5.webp")
                                    source(type="image/jpg" srcset="images/jpg/project5.jpg")
                                    img(src="images/jpg/project5.jpg", alt="Quam Nutamus Farum")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Quam Nutamus Farum
                                .project__desc Graphic Design, Mock-Up
                    .grid__item.photo.design
                        .project
                            .project__image
                                picture
                                    source(type="image/webp" srcset="images/webp/project6.webp")
                                    source(type="image/jpg" srcset="images/jpg/project6.jpg")
                                    img(src="images/jpg/project6.jpg", alt="Usus Legentis Videntur")
                                .project__link
                                    a(class="link" href="#")
                                    a(class="zoom" href="#")
                            .project__inner
                                .project__title Usus Legentis Videntur
                                .project__desc Photography, Holiday
                a.btn.self-center(href="") Load More
        section#stats.gradient.scrolled
            .container
                .row.center-lg.center-md.center-sm.counters
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('clients', 'counter__icon')
                            .counter__num(data-counting-to="3587" data-speed="2500" data-interval="50") 0
                            h4.counter__title Satisfied Clients
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('coffe', 'counter__icon')
                            .counter__num(data-counting-to="207" data-speed="2500" data-interval="50") 0
                            h4.counter__title Cups of coffee
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('post', 'counter__icon')
                            .counter__num(data-counting-to="2500" data-speed="2500" data-interval="50") 0
                            h4.counter__title Blog posts
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('like', 'counter__icon')
                            .counter__num(data-counting-to="4000" data-speed="2500" data-interval="50") 0
                            h4.counter__title  Likes
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                        .counter
                            +icon('launched', 'counter__icon')
                            .counter__num(data-counting-to="900" data-speed="2500" data-interval="50") 0
                            h4.counter__title  We launched
        section#features
            .container
                .row
                    .col-lg-4.col-md-5.col-sm-12.col-xs-12.last-xs.last-sm
                        picture
                            source(type="image/webp" srcset="images/webp/iphone.webp")
                            source(type="image/png" srcset="images/jpg/iphone.png")
                            img.image-block.small-sm-xs(src="images/jpg/iphone.png", alt="Excellent for Mobile Devices")
                    .col-lg-8.col-md-7.col-sm-12.col-xs-12.justify-center
                        .content
                            h2.content__title Excellent for Mobile Devices.
                            p Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                            ul.content__list
                                li Nam liber tempor cum soluta nobis eleifend option;
                                li Option congue nihil imperdiet doming id quod mazim placerat facer;
                                li Eodem modo typi, qui nunc nobis videntur parum futurum;
                                li Investigationes demonstraverunt lectores
        section#partners.section.section_bg
            .container
                h2.section__title.hidden Partners
                .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner1.webp")
                            source(type="image/png" srcset="images/jpg/partner1.png")
                            img(src="images/jpg/partner1.png", alt="The barber")
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner2.webp")
                            source(type="image/png" srcset="images/jpg/partner2.png")
                            img(src="images/jpg/partner2.png", alt="Delicions")
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner3.webp")
                            source(type="image/png" srcset="images/jpg/partner3.png")
                            img(src="images/jpg/partner3.png", alt="Designers")
                    .col-lg-3.col-md-3.col-sm-3.col-xs-6
                        picture.partner
                            source(type="image/webp" srcset="images/webp/partner4.webp")
                            source(type="image/png" srcset="images/jpg/partner4.png")
                            img(src="images/jpg/partner4.png", alt="Royal")
        include includes/footer
