footer.footer
    .container
        .row
            .col-lg-8.col-md-7.col-sm-12.col-xs-12
                ul.fmenu
                    li Copyright © 2015 
                        a(href="#") Waxom
                    li
                        a(href="#") Privacy Policy
                    li
                        a(href="#") FAQ
                    li
                        a(href="#") Support
            .col-lg-4.col-md-5.col-sm-12.col-xs-12
                ul.fmenu
                    li Designed by 
                        a(href="#") ThemeFire 
                    li  Only on 
                        a(href="#") Envato Market
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="js/main.min.js")
