header#home.header
    .preloader
        img(class="preloader__icon" src="icon/loader.svg", alt="loading")
        .preloader__content Loading
    .container.rd-navbar
        .row
            .col-lg-3.col-md-3.col-sm-3
                .rd-navbar-panel-canvas
                    a.logo
                        +icon('logo', 'logo__icon')
                        .logo__name Waxom
                    button(data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle")
                        span
            .col-lg-9.col-md-9.col-sm-9.flex-end
                nav.rd-navbar-nav-wrap
                    ul.rd-navbar-nav.menu
                        li
                            a(href="#home") Home
                        li
                            a(href="#about-us") About Us
                        li
                            a(href="#stats") Stats
                        li
                            a(href="#project") Projects
                        li
                            a(href="#features") Features
                        li
                            a(href="#partners") Partners
