//- includes/head.jade
meta(charset="utf-8")
meta(name="viewport" content="width=device-width initial-scale=1.0")
meta(name="msapplication-TileColor", content="#da532c")
meta(name="theme-color", content="#252525")
meta(http-equiv="Cache-control" content="public")
link(rel="apple-touch-icon", sizes="180x180", href="images/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="images/favicon/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="images/favicon/favicon-16x16.png")
link(rel="manifest", href="images/favicon/site.webmanifest")
link(rel="mask-icon", href="images/favicon/safari-pinned-tab.svg", color="#777777")
link(rel="stylesheet" href="css/main.min.css")
title Waxom | Test task
