mixin icon(name,mod)
	- mod = mod || ''
	svg(class=mod)
		use(xlink:href="icon/sprite.svg#icon_" + name)

mixin icon-one(name,mod)
	- mod = mod || ''
	svg(class="svg icon-" + name + ' ' + mod)
		use(xlink:href="icon/" + name +".svg")
