

@include MQ(xs) {
    html {
        font-size: 16px;
    }
}

@include MQ(sm) {
    html {
        font-size: 16px;
    }
}

@include MQ(md) {
    html {
        font-size: 15px;
    }
}

@include MQ(lg) {
    html {
        font-size: 15.5px;
    }
}

body {
    color: $black;
    font-family: $font-primary;
    background-color: $white;
}

ul,
li {
    padding: 0;
    margin: 0;
}

li {
    line-height: 1;
}

ul {
    line-height: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    color: inherit;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

a:hover,
a:active {
    text-decoration: none;
}

// visibility
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.show-menu {
    transform: translateY(0) !important;
}

