@import 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,800';
@import 'https://fonts.googleapis.com/css?family=Montserrat:200,300,400';
$gray: #2b2b2b; // default colors
$white: #ffffff;
$black: #000000;
$gray: #393939;
$gray-50: #fbfaf8;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-650: #535353;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$primary: #c7b299;
$btn-color: #998675;
$btn-color-border: #736357;
$font-primary: 'Raleway', sans-serif;
$font-second: 'Montserrat', sans-serif;
$radius-primary: 4px;
$radius-second: 30px;
$shadow-primary: 1px 2px 6px rgba(0, 0, 0, .2);
$S: 768px;
$M: 992px;
$L: 1200px;
@function black($opacity) {
    @return rgba(0, 0, 0, $opacity);
}
@function white($opacity) {
    @return rgba(255, 255, 255, $opacity);
}
@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin size($size) {
    width: $size;
    height: $size;
}
@mixin min-size($size) {
    min-width: $size;
    min-height: $size;
}
@mixin appios {
    -webkit-appearance: none;
}
@mixin font($size: false, $colour: false, $weight: false, $lh: false) {
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}
@mixin anim {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
@mixin MQlite($media) {
    @if $media==sm {
        @media only screen and (max-width: $S) {
            @content;
        }
    } @else
    if $media==md {
        @media only screen and (max-width: $M) {
            @content;
        }
    } @else
    if $media==lg {
        @media only screen and (max-width: $L) {
            @content;
        }
    }
}
@mixin MQ($media) {
    @if $media==xs {
        @media only screen and (max-width: $S - 1) {
            @content;
        }
    } @else
    if $media==sm {
        @media only screen and (min-width: $S) and (max-width: $M - 1) {
            @content;
        }
    } @else
    if $media==md {
        @media only screen and (min-width: $M) and (max-width: $L - 1) {
            @content;
        }
    } @else
    if $media==lg {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}
@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translate(-50%, -50%);
    } @else
    if $xy==x {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    } @else
    if $xy==y {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
}
@mixin ie {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}
@mixin cf7Valid() {
    .wpcf7-mail-sent-ok,
    .wpcf7-validation-errors {
        @content;
    }
}
@mixin cf7($class) {
    @if $class==error {
        .wpcf7-validation-errors {
            @content;
        }
    } @else
    if $class==ok {
        .wpcf7-mail-sent-ok {
            @content;
        }
    }
}
