/*
* @subsection   RD Navbar Toggles
*
* @description  Describes style declarations for RD Navbar panel
*/
.rd-navbar-static {
    .rd-navbar-panel {
        @include clearfix;
        padding: 50px 0;
    }

    .rd-navbar-panel-canvas {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.rd-navbar-fixed {
    .logo {
        height: 100%;
        margin: 0 10px;

        &__icon {
            width: 50px;
            height: 40px;
        }
        &__name {
            font-size: 1.6rem;
        }
    }

    .rd-navbar-panel-canvas {
        position: fixed;
        height: 56px;
        left: 0;
        top: 0;
        width: 100%;
        background: $gray-900;
        box-shadow: $rd-navbar-shadow-medium;
        z-index: 16;
    }

    .rd-navbar-toggle {
        position: fixed;
        z-index: 999;
        top: 4px;
        right: 4px;
        background: none;
        transform: rotate(-180deg);
    }
}
