// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-browser-center-name: 's-browser-center';
$s-browser-center-x: 1920px;
$s-browser-center-y: 0px;
$s-browser-center-offset-x: -1920px;
$s-browser-center-offset-y: 0px;
$s-browser-center-width: 1230px;
$s-browser-center-height: 482px;
$s-browser-center-total-width: 3150px;
$s-browser-center-total-height: 1513px;
$s-browser-center-image: '../images/sprite.png';
$s-browser-center: (1920px, 0px, -1920px, 0px, 1230px, 482px, 3150px, 1513px, '../images/sprite.png', 's-browser-center', );
$s-iphone-name: 's-iphone';
$s-iphone-x: 1920px;
$s-iphone-y: 482px;
$s-iphone-offset-x: -1920px;
$s-iphone-offset-y: -482px;
$s-iphone-width: 423px;
$s-iphone-height: 616px;
$s-iphone-total-width: 3150px;
$s-iphone-total-height: 1513px;
$s-iphone-image: '../images/sprite.png';
$s-iphone: (1920px, 482px, -1920px, -482px, 423px, 616px, 3150px, 1513px, '../images/sprite.png', 's-iphone', );
$s-partner1-name: 's-partner1';
$s-partner1-x: 2553px;
$s-partner1-y: 956px;
$s-partner1-offset-x: -2553px;
$s-partner1-offset-y: -956px;
$s-partner1-width: 210px;
$s-partner1-height: 127px;
$s-partner1-total-width: 3150px;
$s-partner1-total-height: 1513px;
$s-partner1-image: '../images/sprite.png';
$s-partner1: (2553px, 956px, -2553px, -956px, 210px, 127px, 3150px, 1513px, '../images/sprite.png', 's-partner1', );
$s-partner2-name: 's-partner2';
$s-partner2-x: 2660px;
$s-partner2-y: 1098px;
$s-partner2-offset-x: -2660px;
$s-partner2-offset-y: -1098px;
$s-partner2-width: 210px;
$s-partner2-height: 210px;
$s-partner2-total-width: 3150px;
$s-partner2-total-height: 1513px;
$s-partner2-image: '../images/sprite.png';
$s-partner2: (2660px, 1098px, -2660px, -1098px, 210px, 210px, 3150px, 1513px, '../images/sprite.png', 's-partner2', );
$s-partner3-name: 's-partner3';
$s-partner3-x: 2343px;
$s-partner3-y: 956px;
$s-partner3-offset-x: -2343px;
$s-partner3-offset-y: -956px;
$s-partner3-width: 210px;
$s-partner3-height: 130px;
$s-partner3-total-width: 3150px;
$s-partner3-total-height: 1513px;
$s-partner3-image: '../images/sprite.png';
$s-partner3: (2343px, 956px, -2343px, -956px, 210px, 130px, 3150px, 1513px, '../images/sprite.png', 's-partner3', );
$s-partner4-name: 's-partner4';
$s-partner4-x: 2870px;
$s-partner4-y: 1098px;
$s-partner4-offset-x: -2870px;
$s-partner4-offset-y: -1098px;
$s-partner4-width: 210px;
$s-partner4-height: 164px;
$s-partner4-total-width: 3150px;
$s-partner4-total-height: 1513px;
$s-partner4-image: '../images/sprite.png';
$s-partner4: (2870px, 1098px, -2870px, -1098px, 210px, 164px, 3150px, 1513px, '../images/sprite.png', 's-partner4', );
$s-project1-name: 's-project1';
$s-project1-x: 2343px;
$s-project1-y: 719px;
$s-project1-offset-x: -2343px;
$s-project1-offset-y: -719px;
$s-project1-width: 370px;
$s-project1-height: 237px;
$s-project1-total-width: 3150px;
$s-project1-total-height: 1513px;
$s-project1-image: '../images/sprite.png';
$s-project1: (2343px, 719px, -2343px, -719px, 370px, 237px, 3150px, 1513px, '../images/sprite.png', 's-project1', );
$s-project2-name: 's-project2';
$s-project2-x: 2713px;
$s-project2-y: 719px;
$s-project2-offset-x: -2713px;
$s-project2-offset-y: -719px;
$s-project2-width: 370px;
$s-project2-height: 237px;
$s-project2-total-width: 3150px;
$s-project2-total-height: 1513px;
$s-project2-image: '../images/sprite.png';
$s-project2: (2713px, 719px, -2713px, -719px, 370px, 237px, 3150px, 1513px, '../images/sprite.png', 's-project2', );
$s-project3-name: 's-project3';
$s-project3-x: 2343px;
$s-project3-y: 482px;
$s-project3-offset-x: -2343px;
$s-project3-offset-y: -482px;
$s-project3-width: 370px;
$s-project3-height: 237px;
$s-project3-total-width: 3150px;
$s-project3-total-height: 1513px;
$s-project3-image: '../images/sprite.png';
$s-project3: (2343px, 482px, -2343px, -482px, 370px, 237px, 3150px, 1513px, '../images/sprite.png', 's-project3', );
$s-project4-name: 's-project4';
$s-project4-x: 2290px;
$s-project4-y: 1098px;
$s-project4-offset-x: -2290px;
$s-project4-offset-y: -1098px;
$s-project4-width: 370px;
$s-project4-height: 237px;
$s-project4-total-width: 3150px;
$s-project4-total-height: 1513px;
$s-project4-image: '../images/sprite.png';
$s-project4: (2290px, 1098px, -2290px, -1098px, 370px, 237px, 3150px, 1513px, '../images/sprite.png', 's-project4', );
$s-project5-name: 's-project5';
$s-project5-x: 1920px;
$s-project5-y: 1098px;
$s-project5-offset-x: -1920px;
$s-project5-offset-y: -1098px;
$s-project5-width: 370px;
$s-project5-height: 237px;
$s-project5-total-width: 3150px;
$s-project5-total-height: 1513px;
$s-project5-image: '../images/sprite.png';
$s-project5: (1920px, 1098px, -1920px, -1098px, 370px, 237px, 3150px, 1513px, '../images/sprite.png', 's-project5', );
$s-project6-name: 's-project6';
$s-project6-x: 2713px;
$s-project6-y: 482px;
$s-project6-offset-x: -2713px;
$s-project6-offset-y: -482px;
$s-project6-width: 370px;
$s-project6-height: 237px;
$s-project6-total-width: 3150px;
$s-project6-total-height: 1513px;
$s-project6-image: '../images/sprite.png';
$s-project6: (2713px, 482px, -2713px, -482px, 370px, 237px, 3150px, 1513px, '../images/sprite.png', 's-project6', );
$s-section-partnres-name: 's-section-partnres';
$s-section-partnres-x: 0px;
$s-section-partnres-y: 1024px;
$s-section-partnres-offset-x: 0px;
$s-section-partnres-offset-y: -1024px;
$s-section-partnres-width: 1920px;
$s-section-partnres-height: 489px;
$s-section-partnres-total-width: 3150px;
$s-section-partnres-total-height: 1513px;
$s-section-partnres-image: '../images/sprite.png';
$s-section-partnres: (0px, 1024px, 0px, -1024px, 1920px, 489px, 3150px, 1513px, '../images/sprite.png', 's-section-partnres', );
$s-slide-name: 's-slide';
$s-slide-x: 0px;
$s-slide-y: 0px;
$s-slide-offset-x: 0px;
$s-slide-offset-y: 0px;
$s-slide-width: 1920px;
$s-slide-height: 1024px;
$s-slide-total-width: 3150px;
$s-slide-total-height: 1513px;
$s-slide-image: '../images/sprite.png';
$s-slide: (0px, 0px, 0px, 0px, 1920px, 1024px, 3150px, 1513px, '../images/sprite.png', 's-slide', );
$spritesheet-width: 3150px;
$spritesheet-height: 1513px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($s-browser-center, $s-iphone, $s-partner1, $s-partner2, $s-partner3, $s-partner4, $s-project1, $s-project2, $s-project3, $s-project4, $s-project5, $s-project6, $s-section-partnres, $s-slide, );
$spritesheet: (3150px, 1513px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
